<a href="https://colab.research.google.com/github/ArthurRosin/AnaliseDeDadosPython/blob/main/LimpezaETratamentoDeDados_desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
#Importando bibliotecas
import pandas as pd
import statistics as sts
import seaborn as srn

In [81]:
dataset = pd.read_csv('tempo.csv', sep = ';')
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [82]:
dataset.shape

(14, 5)

In [83]:
#valores NaN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [84]:
#Analise
#Aparencia
aparencia = dataset.groupby(['Aparencia']).size()
aparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [85]:
#Analise
#Temperatura
temp = dataset['Temperatura'].describe()
temp

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [86]:
#Analise
#Umidade
umidade = dataset['Umidade'].describe()
umidade

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [87]:
#Analise
#Vento
vento = dataset.groupby(['Vento']).size()
vento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [88]:
#Analise
#Jogar
jogar = dataset.groupby(['Jogar']).size()
jogar

Jogar
nao    5
sim    9
dtype: int64

In [89]:
#Conserto e verificação
#Aparencia
dataset.loc[dataset['Aparencia'].isin(['menos']), 'Aparencia'] = 'chuva'
aparencia = dataset.groupby(['Aparencia']).size()
aparencia

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [90]:
#Conserto e verificação
#Temperatura
mediana_1 = sts.median(dataset['Temperatura'])
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana_1
temp = dataset['Temperatura'].describe()
temp

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [91]:
#Conserto e verificação
#Umidade
mediana_2 = sts.median(dataset['Umidade'])
dataset.loc[(dataset['Umidade'] < 0)|(dataset['Umidade'] > 100), 'Umidade'] = mediana_2
dataset['Umidade'].fillna(mediana_2,inplace=True)
umidade = dataset['Umidade'].describe()
umidade

count    14.000000
mean     81.285714
std       9.585073
min      65.000000
25%      71.250000
50%      85.250000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [92]:
#Conserto e verificação
#Vento
mediana = 'FALSO'
dataset['Vento'].fillna(mediana,inplace=True)

In [93]:
vento = dataset.groupby(['Vento']).size()
vento

Vento
FALSO         8
VERDADEIRO    6
dtype: int64